<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @record.url %>
</p>

<p>
  <strong>Sorten url:</strong>
  <%= request.host_with_port + @record.get_shorten_link %>
</p>

<p>
  <strong>Count:</strong>
  <%= @record.count %>
</p>

<%= link_to 'Edit', edit_record_path(@record), class: 'btn btn-primary' %> |
<%= link_to 'Back', records_path, class: 'btn btn-success' %>
